.section__movies {
  height: 100vh;
  background-image: linear-gradient(to right, #f1efed, #f1eae7);
  padding-top: 4.1rem;

  .title__movies {
    margin-bottom: 3.6rem;
    color: #ff8b25;
  }

  .grid__container1 {
    display: grid;
    grid-template-columns: auto auto auto;
    row-gap: 6rem;
    column-gap: 10rem;
    justify-content: center;

    .grid__movies {
      position: relative;
      width: 25rem;
      height: 34.5rem;
      box-shadow: 0 1.4rem 3rem rgba(0, 0, 0, 0.3);
      border-radius: 1rem;
      overflow: hidden;
      transition: all 0.3s ease;

      &:hover {
        cursor: pointer;

        img {
          transform: scale(1.1);
          filter: brightness(40%) blur(0.2rem);
        }
        .topup {
          animation: movefromBottomTwo 0.5s ease;
          opacity: 1;
        }
      }

      img {
        height: 100%;
        width: 100%;
        object-fit: fill;
        object-position: center;
        overflow: hidden;
        transition: all 0.3s ease;
      }

      h2 {
        position: absolute;
        opacity: 0;
        color: $color-primary;
        top: 42%;
        left: 15%;
        font-size: 2rem;
      }

      .sv {
        left: 28%;
      }
      .yn {
        left: 28%;
      }
      .gow {
        left: 18%;
      }
    }
  }
}
